<!-- ============= COMPONENT ============== -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <div class="container-fluid">
   <a class="navbar-brand" href="{{ site.baseurl }}/index.html">{{ site.title }}</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="main_nav">
  
  <ul class="navbar-nav">

    {% for xpage in site.pages_list %}  
      {% assign status = '' %}
        {% if xpage[1].first %}
          {% assign key = xpage[0] %}
          {% for xpage2 in xpage[1] %} 
            {% if page.url == xpage2[1] %}
              {% assign status = 'active' %}
            {% endif %}
          {% endfor %}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {{ status }}" href="#" data-bs-toggle="dropdown">{{ key }}</a>
                <ul class="dropdown-menu">
          {% for xpage2 in xpage[1] %} 
            {% assign status = '' %}
            {% if page.url == xpage2[1] %}
                {% assign status = 'active' %}
            {% endif %}
                <li><a class="dropdown-item {{ status }}" href="{{ site.baseurl }}{{ xpage2[1]  }}"> {{ xpage2[0] }} </a></li>
          {% endfor %}
              </ul>
            </li>
        {% else %}
          {% assign status = '' %}
          {% if page.url == xpage[1] %}
            {% assign status = 'active' %}
          {% endif %}
          <li class="nav-item {{ status }}"> 
            <a class="nav-link" href="{{ site.baseurl }}{{ xpage[1]  }}">
                {{ xpage[0] }}
            </a> 
          </li>
        {% endif %}
      {% endfor %}
    
  </ul>

  </div> <!-- navbar-collapse.// -->
 </div> <!-- container-fluid.// -->
</nav>
<!-- ============= COMPONENT END// ============== -->